@import url("https://fonts.googleapis.com/css?family=Lato:regular,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Lora:regular,700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 14px;
}

.header__container {
  width: 77%;
  margin: 71px auto 56px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.header__auth {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.logo {
  font-family: lora;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #10375C;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #222831;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.login {
  padding: 12px 24px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FF5722;
}

.signup {
  padding: 12px 24px;
  background-color: #FF5722;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__container-intro {
  width: 100%;
}

.page__container-our-spaces {
  width: 100%;
}

.intro {
  width: 77%;
  margin: 0 auto 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__column-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.intro__column-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.intro__title {
  font-family: lora;
  font-weight: bold;
  font-size: 52px;
  line-height: 67px;
  color: #10375c;
}

.intro__title span {
  color: #ff5722;
}

.intro__text {
  padding: 10px 0 0 61px;
  font-size: 20px;
  line-height: 30px;
  color: #6a6a6a;
}

.our-spaces {
  width: 77%;
  margin: 0 auto 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 630px;
  padding-bottom: 44px;
}

.our-spaces__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.our-spaces__header-column-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34.234%;
          flex: 0 1 34.234%;
}

.our-spaces__title {
  font-family: Lora;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #10375c;
}

.our-spaces__header-column-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65.766%;
          flex: 0 1 65.766%;
}

.our-spaces__text {
  max-width: 62%;
  font-size: 18px;
  line-height: 28px;
  color: #9a9a9a;
}

.our-spaces__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 468px;
  margin: 0 -15px;
}

.our-spaces__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
}

.card__image {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 25px;
  display: block;
}

.card__image img {
  width: 100%;
  height: 100%;
}

.card__arrow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 72px;
  height: 72px;
  background-color: #ff5722;
  color: #fff;
  font-size: 22px;
  line-height: 22px;
  padding: 28px 31px;
  font-weight: 700;
}

.card__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #222831;
  text-align: center;
}

.card-center {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  background-color: #10375c;
  height: 100%;
  text-align: center;
}

.card-center__title {
  font-family: Lora;
  font-size: 32px;
  line-height: 41px;
  margin-bottom: 14px;
  color: #fff;
}

.card-center__desc {
  max-width: 72.286%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.card-center__check {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 255px;
  height: 72px;
  background-color: #ff5722;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  padding: 25px 30px;
}

.card-center__check span {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  padding-left: 30px;
}

.page__container-why-frispes {
  width: 100%;
}

.why-frispes {
  width: 77%;
  margin: 0 auto 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why-frispes__block {
  margin: auto 0px;
}

.block-indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 70px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 51.35%;
          flex: 0 1 51.35%;
  height: 353px;
}

.block-indicators__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
}

.item-indicators__column-1 {
  padding-right: 24px;
}

.item-indicators__column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-indicators__numb {
  font-family: Lora;
  font-size: 32px;
  line-height: 41px;
  color: #10375c;
  margin-bottom: 8px;
}

.item-indicators__text {
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
}

.block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.65%;
          flex: 0 1 48.65%;
  height: 420px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 53px;
  background-color: #10375c;
  color: #fff;
}

.block-text__why-frispes {
  font-size: 20px;
  line-height: 30px;
}

.block-text__why-frispes::after {
  content: "";
  display: inline-block;
  width: 73px;
  height: 2px;
  background-color: #fff;
  vertical-align: middle;
  margin-left: 15px;
}

.block-text__title {
  font-family: Lora;
  font-weight: bold;
  font-size: 40px;
  line-height: 51px;
}

.block-text__body {
  font-size: 20px;
  line-height: 30px;
}

.page__container-news {
  width: 100%;
  background: #f8f8f8;
}

.news {
  width: 77%;
  margin: 0 auto 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 167px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-news__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header-news__see-more {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.title-news {
  font-family: Lora;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #10375c;
}

.see-more-news {
  font-size: 16px;
  line-height: 26px;
  color: #ff5722;
  padding-right: 8px;
}

.see-more-news::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  background: url("../img/image_10.svg") center center no-repeat;
}

.body-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-news__row {
  margin-bottom: 30px;
}

.row-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 320px;
  margin-left: -30px;
}

.row-news__wide-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
  margin-left: 30px;
}

.row-news__narrow-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin-left: 30px;
}

.row-news__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.wide-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wide-column__block-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47.945%;
          flex: 0 1 47.945%;
}

.wide-column__block-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52.055%;
          flex: 0 1 52.055%;
}

.wide-column__image {
  width: 350px;
  height: 320px;
}

.wide-column__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px;
  background-color: #fff;
}

.content-wide-column__title {
  font-family: Lora;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  color: #222831;
  margin-bottom: 24px;
}

.content-wide-column__text {
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
  margin-bottom: 16px;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
}

.author__column-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 17.778%;
          flex: 0 1 17.778%;
}

.author__image {
  width: 56px;
  height: 56px;
}

.author__column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 23px;
}

.author__name {
  font-size: 18px;
  line-height: 28px;
  color: #10375c;
}

.author__prof {
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
}

.narrow-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.narrow-column__image {
  width: 350px;
  height: 204px;
}

.narrow-column__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 16px 16px;
}

.narrow-column__title {
  font-family: Lora;
  font-size: 22px;
  line-height: 28px;
  color: #222831;
}

.narrow-column__author {
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
}